.cabecalho{ 
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-between;   
    padding: 0 100px 0 100px; 
}

.cabecalho__titulo {
    font-weight: bold;
}
.menu{
    display: flex;
}

.item {
    padding: 1rem;
    font-size: 16px;
}

.link {
    text-decoration: none;
    color: #464646;
}

.link:hover {
    border-bottom: 2px solid #2a7ae4;
}