
.sobre{
    background-color: #eaf2fd;
    height: 383px;
}

.sobre__titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    height: 38px;
    margin: 16px 0;
    padding: 64px 0 0 100px;
   
}
.sobre__texto {
    width: 751px;
    line-height: 19px;
    padding: 0 100px;
}