body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    line-height: 20px;

}

.cabecalho{ 
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-between;   
    padding: 0 100px 0 100px; 
}

.cabecalho__titulo {
    font-weight: bold;
}
.menu{
    display: flex;
}

.item {
    padding: 1rem;
    font-size: 16px;
}

.item:hover {
    text-decoration: underline;
}
.link {
    text-decoration: none;
    color: #464646;
}

.intro{
    display: flex;
    align-items: center;
    padding: 1rem 100px 0 100px; 
    justify-content: space-between;  
}

.perfil{
    border-radius: 50%;
    width: 368px;
    height: 368px;
}

.intro__titulo {
    font-size: 52px;
    font-weight: 700;
    line-height: 61px;
    margin: 24px 0;    
}

.barra__lista{
    display: flex;
}
.barra__item {
    padding: 1rem;
}
.barra__item::after {
    content:"🡭";
}
.barra__link {
    text-decoration: none;
    color: #464646;
    font-weight: 600;
}

.sobre{
    background-color: #eaf2fd;
    height: 383px;
}

.sobre__titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    height: 38px;
    margin: 16px 0;
    padding: 64px 0 0 100px;
   
}
.sobre__texto {
    width: 751px;
    line-height: 19px;
    padding: 0 100px;
}
.skills {
    margin: 60px;
}
.titulo-base {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.lista-base {
    display: flex;
    justify-content: center;
}
.item-base {
    width: 176px;
    height: 174px;
    background-color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    box-sizing: border-box;
}
.texto-base {
   font-weight: 700;
   margin: 0.5rem 0;
}
.hobbies{
    margin-bottom: 3rem;
}
.contato {
    background-color: #eaf2fd;
}

.contato .contatos {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.contato .contato__img {
    display: block;
    height: 570px;
    width: 464px;
}

.contato .contato__texto {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 0 0 0 1rem;
}

.contato__titulo {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 2rem;
}

.contato__subtitulo {
    font-weight: 500;
    margin: 0;
}

.contato__input {
    border: transparent;
    height: 55px;
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
}

.contato__mensagem {
    border: transparent;
    border-radius: 4px;
    margin: 10px 0;
    height: 96px;
    width: 100%;
}

.contato__botao {
    background-color: #2a7ae4;
    border: transparent;
    color: #fff;
    font-weight: 400;
    margin: 25px 0;
    padding: 10px;
}
.rodape{
    background-color: #fff;
    text-align: center;
    padding: 1rem;
}